<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="barra-lateral">
    </div>
    
    <div id="headerbom">
        <div id="tituloefiltro">
            <p id="titulo">Armarios</p>
            <p id="filtros">Filtro - crescente</p>
        </div>
        
            <div class="barra-pesquisa">
                <input type="text" class="input-pesquisa" placeholder="Pesquisar...">
                <button class="botao-pesquisa">
                  <img src="../../public/images/icone-lupa.png" alt="Ícone de pesquisa">
                </button>
              
            </div>

    </div>

    <div style="display: flex; align-items: center; justify-content: center;">
        <div class="container" id="containerArmarios">
        
        </div>
    </div>


<div style="justify-content: center; display: flex;"> 
    <div class="barra-predios">
        <button class="botao-predio">Prédio A</button>
        <span class="separador"></span>
        <button class="botao-predio">Prédio B</button>
        <span class="separador"></span>
        <button class="botao-predio">Prédio C</button>
        <span class="separador"></span>
        <button class="botao-predio">Prédio D</button>
    </div>
</div>
  


<script src="../../src/scripts/armario.js"></script>
</body>
</html>
