<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Armários Cimol</title>
    <link rel="stylesheet" href="style.css">
</head>
<body> 
    <img src="logo-cimol-removebg-preview.png" alt="Logo Cimol" class="logo">
    <div class="login-container"> 
        <div class="login-box">
            <h1>Bem-vindo ao</h1>
            <h2>Armários Cimol</h2>
            <form>
                <input type="email" placeholder="E-mail" required>
                <input type="password" placeholder="Password" required>
                <a href="#" class="forgot-password">Esqueceu a sua senha?</a>
                <button type="submit">ENTRAR</button>
            </form>
        </div>
    </div>
</body>
</html>
